@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Love+Light&family=Pacifico&display=swap');

.all-meds-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #D8F3DC;
    /* margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%; */
    align-items: center;
    margin: auto;
    padding: 1rem;
    background: #B7E4C7;
    box-shadow: 0 0 5px 0 #bbb;
    border-radius: 2%;
}

.cards-wrapper {
    display: inline-flex;
    flex-direction: row-reverse;
    /*might need reverse? */
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5%;
}

.card {
    flex-grow: 1;
    flex-shrink: 1;
}

.additional-message {
    margin-bottom: 5%;
    font-size: 30px;
    color: #1B4332;

}

.additional-message a {
    text-decoration: none;
    color: #1B4332;
}

.additional-message a:hover {
    color: rgb(255, 255, 255);
    /* font-size: 30px; */
}

#header-title {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-block;
}