<div class="my-profile-wrapper">
    <!-- <div class="profile-wrapper"> -->
    <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257_960_720.png" alt='' class="thumbnail" />
        <div class="check"><i class="fas fa-check"></i></div>
        <h3 class="name">{{currentUser?.email}}</h3>
        <div class="btn-wrapper">
            <button type="button" class="btn"><a [routerLink]="['/my-meds', currentUserId]">My Meds</a></button>
            <button type="button" class="btn"><a [routerLink]="['/user-added', currentUserId]">Added by me</a></button>
        </div>
    </div>
    <!-- </div> -->
</div>