<div class="form-wrapper">
    <form class="register" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">
        <h2>Register<img id='register-drug' src='https://cdn-icons-png.flaticon.com/512/1546/1546140.png' /></h2>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input formControlName="email" type="email" name="email" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp" />
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Password</label>
            <input formControlName="email" type="password" name="password" class="form-control" id="exampleInputPassword1" />
        </div>
        <button type="submit" class="submit">Submit</button>
        <p>Already have an account? <a to="/login">Login</a></p>

    </form>
</div>