<form class="register" [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">
    <h2 class="form-title">Register<img id='register-drug' src='https://cdn-icons-png.flaticon.com/512/1546/1546140.png' /></h2>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" name="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" />
    </div>
    <ng-container *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
        <p *ngIf="registerFormGroup.controls['email'].errors!['required']" class="error">
            Email is required!
        </p>

        <p *ngIf="registerFormGroup.controls['email'].errors!['email']" class="error">
            Email is not valid!
        </p>
    </ng-container>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" name="password" class="form-control"
            id="exampleInputPassword1" />
    </div>
    <ng-container *ngIf="registerFormGroup.controls['password'].touched && registerFormGroup.controls['password'].invalid">

        <p *ngIf="registerFormGroup.controls['password'].errors!['required']" class="error">
            Password is required!
        </p>
        <p *ngIf="registerFormGroup.controls['password'].errors!['minlength']" class="error">
            Password must be at least 5 characters!
        </p>
    </ng-container>

    <button type="submit" [disabled]="registerFormGroup.invalid" class="submit">Submit</button>
    <p>Already have an account? <a routerLink="/login">Login</a></p>

</form>