<form class="edit" #editedMedForm="ngForm" (ngSubmit)="submitEditedMed(editedMedForm)">

    <h2>Edit med
        <img id='form-drug' src='../../../../assets/pills-bottle.png' />
    </h2>

    <div class="form-content">
        <label for="medName" class="form-label">Med Name</label>
        <input #name="ngModel" [(ngModel)]="med.name" type="text" name="name" class="form-control" id="medName" required
            minlength="3" />
    </div>
    <ng-container *ngIf="name.touched && name.invalid">
        <p *ngIf="name.errors!['required']" class="error">
            Med name is required.
        </p>
        <p *ngIf="name.errors!['minlength']" class="error">
            Med name must be at least 3 characters long.
        </p>
    </ng-container>

    <div class="form-content">
        <label for="medDescription" class="form-label">Description</label>
        <textarea #description="ngModel" [(ngModel)]="med.description" type="text" name="description"
            class="form-control" id="medDescription" required minlength="10">
            </textarea>
    </div>
    <ng-container *ngIf="description.touched && description.invalid">
        <p *ngIf="description.errors!['required']" class="error">
            Med description is required.
        </p>
        <p *ngIf="description.errors!['minlength']" class="error">
            Med description must be at least 10 characters long.
        </p>
    </ng-container>

    <div class="form-content">
        <label for="medCount" class="form-label">Count of tablets</label>
        <input #count="ngModel" [(ngModel)]="med.count" type="text" name="count" class="form-control" id="medCount" required
        minlength="1"/>
    </div>
    <ng-container *ngIf="count.touched && count.invalid">
        <p *ngIf="count.errors!['required']" class="error">
            Count of tablets is required.
        </p>
        <p *ngIf="count.errors!['minlength']" class="error">
            Count of tablets must be at least 1 character long.
        </p>
    </ng-container>

    <div class="form-content">
        <label for="medImage" class="form-label">Image</label>
        <input #imgUrl="ngModel" [(ngModel)]="med.imgUrl" type="text" name="imgUrl" class="form-control"
            id="medImage" required
            minlength="5"/>
    </div>
    <ng-container *ngIf="imgUrl.touched && imgUrl.invalid">
        <p *ngIf="imgUrl.errors!['required']" class="error">
            Med image is required.
        </p>
        <p *ngIf="imgUrl.errors!['minlength']" class="error">
            Med image link must be at least 5 characters long.
        </p>
    </ng-container>

    <!-- <button type="submit" class="submit">Submit</button> -->
    <button [disabled]="editedMedForm.invalid" class="submit">Submit</button>
</form>