<nav id="navbar">

    <div class="logo">
        <img id='drug-icon'
            src='https://cdn-icons.flaticon.com/png/512/1050/premium/1050791.png?token=exp=1640247933~hmac=5f74b63ac0796958064f15b3d621a108' />
        <!-- <Link to="/" className="logo-tag">Meds Portal</Link> -->
    </div>


    <ul id="menu">
        <li class="menu-item">
            <a class="menu-item-link" href="/all-meds">All meds</a>
        </li>
        <li class="menu-item">
            <a href="/register">Register</a>
        </li>
        <li class="menu-item">
            <a href="/login">Login</a>
        </li>
        <li class="menu-item">Welcome user</li>
        <li class="menu-item">
            <a href="/all-meds">All meds</a>
        </li>
        <li class="menu-item">
            <a href="/create">Create</a>
        </li>
        <li class="menu-item">
            <a href="/my-profile">My Profile</a>
        </li>
        <button class="logout-button">Logout</button>
    </ul>

</nav>