@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Love+Light&family=Pacifico&display=swap');

app-header {
    background-color: #D8F3DC;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1B4332;
    width: 100%;
    height: 60px;
}

.logo {
    margin-left: 30px;
}

.logo-tag {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: #fff;
    margin-left: 5px;
}

.logo-tag:hover {
    color: #52B788;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    list-style: none;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.menu-item {
    list-style: none;
    margin-right: 15px;
}

.menu-item:hover {
    color: #52B788;
    transition: all 1s ease;
}

a {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

a:hover {
    color: #D8F3DC;
}

#drug-icon {
    width: 40px;
}