<nav id="navbar">

    <div class="logo">
        <img id='drug-icon'
            src='../../../assets/drugs.png' />
        <a routerLink="/" class="logo-tag">Meds Portal</a>
    </div>


    <ul id="menu">
        <li class="menu-item">
            <a class="menu-item-link" href="/all-meds">All meds</a>
        </li>
        <li class="menu-item">
            <a routerLink="/register">Register</a>
        </li>
        <li class="menu-item">
            <a routerLink="/login">Login</a>
        </li>
        <li class="menu-item">Welcome user</li>
        <li class="menu-item">
            <a routerLink="/all-meds">All meds</a>
        </li>
        <li class="menu-item">
            <a routerLink="/create">Create</a>
        </li>
        <li class="menu-item">
            <a routerLink="/my-profile">My Profile</a>
        </li>
        <button class="logout-button">Logout</button>
    </ul>

</nav>