<form class="create">

    <h2>Create Med<img id='form-drug'
            src='https://cdn-icons.flaticon.com/png/512/3837/premium/3837740.png?token=exp=1640204300~hmac=d2a019bdf675c65aeb4c5909343aab53' />
    </h2>
    <div class="mb-3">
        <label htmlFor="medName" class="form-label">Med Name</label>
        <input onChange={handleChange} type="text" name="name" value={input.name} class="form-control" id="medName"
            aria-describedby="nameHelp" />
    </div>
    <div class="mb-3">
        <label htmlFor="medDescription" class="form-label">Description</label>
        <textarea onChange={handleChange} type="text" name="description" value={input.description} class="form-control"
            id="medDescription" aria-describedby="nameHelp">
            </textarea>
    </div>
    <div class="mb-3">
        <label htmlFor="medCount" class="form-label">Count of tablets</label>
        <input onChange={handleChange} type="text" name="count" value={input.count} class="form-control" id="medCount"
            aria-describedby="nameHelp" />
    </div>
    <div class="mb-3">
        <label htmlFor="medImage" class="form-label">Image</label>
        <input onChange={handleChange} type="text" name="imgUrl" value={input.imgUrl} class="form-control" id="medImage"
            aria-describedby="nameHelp" />
    </div>

    <button onClick={handleClick} type="submit" class="submit">Submit</button>
</form>